<ng-container class="home-container">
  <nb-card class="white home-container-nb-card">
    <h1>
      Bienvenid@ {{this.userLogged.loginUser.Name}} {{this.userLogged.loginUser.LastName}}!
    </h1>
    <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur corporis dolore dolorum fuga iusto
      modi, mollitia numquam odit repudiandae rerum voluptates. Amet error est excepturi natus pariatur quibusdam
      sit!</label>
    <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur corporis dolore dolorum fuga iusto
      modi, mollitia numquam odit repudiandae rerum voluptates. Amet error est excepturi natus pariatur quibusdam
      sit!</label>
    <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur corporis dolore dolorum fuga iusto
      modi, mollitia numquam odit repudiandae rerum voluptates. Amet error est excepturi natus pariatur quibusdam
      sit!</label>
    <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur corporis dolore dolorum fuga iusto
      modi, mollitia numquam odit repudiandae rerum voluptates. Amet error est excepturi natus pariatur quibusdam
      sit!</label>
  </nb-card>
</ng-container>
